body{
  display: block;
  width: 960px;
  height: auto;
  margin: auto;
  background-color: #666666;
}
header{
  display: flex;
  position: relative;
}
#Headerimg1{
  position: absolute;
  top: 9px;
}
h1{
	margin-left: 200px;
  font-size: 1.45em;
  color: #42B7DC;
  bottom: 1px;
  right: 1px;
}

#Navhaut{
  display: flex;
  justify-content: right;
  background-color: #8EC549;
  font-size: 1em;
}

#Navhaut a{
  display: flex;
  justify-content: right;
  background-color: #8EC549;
  text-decoration: none;
  color: white;
}
#Navhaut li{
    list-style-type: '|';
    padding: 0.5em 0.6em 0.5em 0.3em;
}

#NavArticle{
  display: flex;
  justify-content: center;
  background-color: GREY;
  font-size: 1em;
  margin: 0;
}
#NavArticleDiv{
	width: 140px;
	color: white;
	background-color: #666666;
}
#NavArticle li{
    list-style-type: none;
    padding: 0.5em 0.6em 0.5em 0.3em;
}
#NavArticle img{
    list-style-type: none;
	 margin-left: 5px;
	 margin-top: 5px;
}
#NavArticle p{
    list-style-type: none;
	 margin: 5px;
}
#NavArticle h2{
	display: flex;
   list-style-type: none;
	margin-top: 5px;
	margin-right: 5px;
	justify-content: right;

}

#previous {
	position: fixed;
	right: 150px;
}
#next{
	position: fixed;
	left: 200px;
}

#NavBas{
  display: flex;
  justify-content: center;
  background-color: #384f94;
  font-size: 0.9em;
}

#NavBas a{
	display: flex;
   justify-content: right;
   background-color: #384f94;
   text-decoration: none;
   color: white;
}
#NavBas li{
    list-style-type: none;
    padding: 0.5em 0.6em 0.5em 0.3em;
}
